@font-face {font-family: 'segeo';src: url('../fonts/segeo.ttf');}

#segeo-font() {font-family: "segeo";}
#text-center() {text-align: center;}

//font sizes functions
#font12() {font-size: 12px;}
#font14() {font-size: 14px;}
#font16() {font-size: 16px;}
#font18() {font-size: 18px;}

//font sizes classes
.font12 {font-size: 12px;}
.font14 {font-size: 14px;}
.font16 {font-size: 16px;}
.font18 {font-size: 18px;}

//colors functions
#ytt-green() {color: #82C341;}
#ytt-red() {color: #EF5323;}
#ytt-blue() {color: #329FD9;}
#ytt-yellow() {color: #FCB713;}
#ytt-white {color: #FFFFFF;}



//colors classes
.ytt-green {color: #82C341;}
.ytt-red {color: #EF5323;  }
.ytt-blue {color: #329FD9;}
.ytt-yellow {color: #FCB713;}
.ytt-white {color: #FFFFFF;}

.ytt-html {color:#E54D26;}
.ytt-css {color:#007EC8;}
.ytt-jquery {color:#0769AD;}
.ytt-php {color:#6B7EB9;}
.ytt-bootstrap {color:#5D317E;}
.ytt-asp {color:#1A4395;}
.ytt-android{color:#99CC00;}


//color for rotation
.ytt-1 {color: #82C341;}
.ytt-2 {color: #EF5323;  }
.ytt-3 {color: #329FD9;}
.ytt-4 {color: #FCB713;}

//background functions
#ytt-bg-green() {background-color: #82C341;}
#ytt-bg-red() {background-color: #EF5323;}
#ytt-bg-blue() {background-color: #329FD9;}
#ytt-bg-yellow() {background-color: #FCB713;}
#ytt-bg-white() {background-color: #FFFFFF;}
#ytt-bg-grey() {background-color: #DEDFE4;}

//background classes
.ytt-bg-green {background-color: #82C341;}
.ytt-bg-red {background-color: #EF5323;  }
.ytt-bg-blue {background-color: #329FD9;}
.ytt-bg-yellow {background-color: #FCB713;}
.ytt-bg-white {background-color: #FFFFFF;}
.ytt-bg-grey {background-color: #DEDFE4;}

//visibility
.visibility-hidden{visibility: hidden;}
.visibility-visible{visibility: visible;}

/*Social Networks*/
.social {margin-top: 20px; a{text-decoration: none;}}
.social-icon{width: 50px;height: 50px;background: #DDD;font-size: 30px;text-align: center;padding: 5px;color: #5e5e5e;}
.facebook-hover:hover{background: #46629E;color: #FFF;cursor: pointer;}
.google-hover:hover{background: #EA4436;color: #FFF;cursor: pointer;}
.twitter-hover:hover{background: #0FB1F2;color: #FFF;cursor: pointer;}




/*------------------------------------------------------Animation Blocks------------------------------------------------*/
@-webkit-keyframes offers {from {margin-top: 8px;}to {margin-top:0px; }}
/* Standard syntax */
@keyframes offers {from {margin-top: 8px;}to {margin-top:0px; }}

@-webkit-keyframes left-right {from {margin-left: 8px;}to {margin-left:0px; }}
/* Standard syntax */
@keyframes left-right {from {margin-left: 8px;}to {margin-left:0px; }}


/*------------------------------------------------------Animation Blocks------------------------------------------------*/



#updownanimation()
{
  animation-name: offers;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease;
}

#leftrightanimation()
{
  animation-name: left-right;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease;
}



body
{
  background-image: url("../img/tempbg.png");
  background-attachment: fixed;
  background-size: cover;
}



//backoffer
.backoffer {
  width: 50px;
  height: 50px;
  #ytt-bg-red;
  position: fixed;
  bottom: 80px;
  right: 20px;
  z-index: 99999;
  a {
    display: block;
    i {
      #ytt-white;
      padding-top: -9px;
      padding-left: 9px;
      font-size: 50px;
      #updownanimation;
    }
  }
}

//backtotop
.backtotop {
  width: 50px;
  height: 50px;
  #ytt-bg-blue;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99999;
  a {
    display: block;
    i {
      #ytt-white;
      padding-top: -9px;
      padding-left: 9px;
      font-size: 50px;
    }
  }
}




body {
  #segeo-font;
  margin: 0 auto;
}




/* Preloader */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-size: 18px;
  background-color: #f2f3f7;
  /* change if the mask should have another color then white */
  z-index: 9999999;
  /* makes sure it stays on top */
}
#status {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  text-align: center;
  z-index: 9999;
  padding-top: 10%;
}

.bg-overlay {
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 0;
}





.logo-header {
  img {
    height: 80px;
  }
}

@media (max-width: 920px){
  .logo-header {
    //display: none;
  }
}

@media (min-width: 765px) and (min-width: 920px){
  .logo-header {
    display: block;
  }
}

.affix {
  top: 0;
  width: 100%;
}




//navbar
@media (min-width: 768px) and (max-width: 920px) {
  .navbar-collapse.collapse {
    display: none !important;
  }
  .navbar-collapse.collapse.in {
    display: block !important;
  }
  .navbar-header .collapse, .navbar-toggle {
    display:block !important;
  }
  .navbar-header {
    float:none;
  }
}

.navbar
{
  min-height: 70px;
  border-bottom: none;
  background: #FFF;
  -webkit-box-shadow: -1px 2px 10px -6px rgba(0,0,0,1);
  -moz-box-shadow: -1px 2px 10px -6px rgba(0,0,0,1);
  box-shadow: -1px 2px 10px -6px #000;
}

.navbar-brand
{
  height: 70px;
}

.logo-font
{
  margin-top:10px;
  position: absolute;
  margin-left: 50px !important;
}

@media (max-width: 1027px){
  .logo-font {
    display:none;
  }
}

.navbar-default .navbar-toggle {
  margin-top: 23px;
}

.navbar-nav > li > a
{
  height: 70px;
  text-align: center;
  line-height:40px;
}

.navbar-default .navbar-nav > li > a
{
  #ytt-blue;
  #font16;
}

/*Scrollspy Navigation*/
.navbar-nav> .active > a,
.navbar-nav > .active > a:hover {
  #ytt-red !important;
  background-color: #FFF !important;
}

.navbar-default .navbar-nav > li > a:hover
{
  #ytt-red;
}

.navbar-default .navbar-nav .active
{
  color: #FFFFFF;
  background: #0169CE !important;
}




//slider
.slider {
  padding-top: 90px;
}

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
}

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
}

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
}
//slider



//services
.services
{
  padding-top: 60px;
  .service-lists
  {
    height: 350px;
    margin-bottom: 20px;
  }

  .service-images
  {
    width: 200px;
    height: 200px;
    border-radius: 200px;
    margin-top: 8%;
    margin-bottom: 2%;

    i
    {
      font-size: 150px;
      text-align: center;
      margin: 22px;
      margin-top: 25px;
      display: block;
      cursor: pointer;
    }

  }

  .service-description
  {
    margin: 0 auto;
    #font18;
    padding:10px;
    margin-top: 25px;
    -webkit-transition: background 1s;
    -moz-transition: background 1s;
    -ms-transition: background 1s;
    -o-transition: background 1s;
    transition: background 1s;
    text-align: center;
    img
    {
      width: 100%;
    }

    p
    {
      #font14;
      text-align: justify;
      strong
      {
        #font18;
        text-align: center !important;
      }
    }

    .service-icon-holder {
      margin-left: auto;
      margin-right: auto;

      .service-icons {
        cursor: pointer;
        width: 100px;
        height: 100px;
        font-size: 80px;
        text-align: center;
      }
    }
  }

  .other-service-description
  {
    padding-top: 30px;

    p
    {
      #font18;
      text-align: justify;
    }
  }

}
//services


//process
.process {
  padding-top: 60px;
  .steps-flow
  {
    margin: 30px 30px;
    img
    {
      width: 100%;
    }
    p
    {
      #font18;
    }
  }

  .cbp_tmtimeline {
    margin: 30px 0 0 0;
    padding: 0;
    list-style: none;
    position: relative;
  }

  /* The line */
  .cbp_tmtimeline:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 10px;
    background: #afdcf8;
    left: 20%;
    margin-left: -10px;
  }

  /* The date/time */
  .cbp_tmtimeline > li .cbp_tmtime {
    display: block;
    /*width: 25%;*/
    text-align: center;
    padding-top: 50px;
    padding-left: 30px;
    position: absolute;
  }

  .cbp_tmtimeline > li .cbp_tmtime span {
    display: block;
    text-align: right;
  }

  .cbp_tmtimeline > li .cbp_tmtime span:first-child {
    font-size: 0.9em;
    //color: #bdd0db;
  }

  .cbp_tmtimeline > li .cbp_tmtime span:last-child {
    font-size: 2.9em;
    //color: #3594cb;
  }

  .cbp_tmtimeline > li:nth-child(odd) .cbp_tmtime span:last-child {
    //color: #6cbfee;
  }

  /* Right content */
  .cbp_tmtimeline > li .cbp_tmlabel {
    margin: 0 0 15px 25%;
    //background: #3594cb;
    color: #fff;
    padding: 2em;
    font-size: 1.2em;
    font-weight: 300;
    line-height: 1.4;
    position: relative;
    border-radius: 5px;
  }

  .cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel {
    //background: #6cbfee;
  }

  .cbp_tmtimeline > li .cbp_tmlabel h2 {
    margin-top: 0px;
    padding: 0 0 10px 0;
    border-bottom: 1px solid rgba(255,255,255,0.4);
  }

  /* The triangle */
  .cbp_tmtimeline > li .cbp_tmlabel:after {
    right: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-right-color: #EF5323;
    border-width: 10px;
    top: 10px;
    margin-left: 10px;
  }

  .cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel:after {
    border-right-color: #82C341;
  }

  /* The icons */
  .cbp_tmtimeline > li .cbp_tmicon {
    width: 40px;
    height: 40px;
    position: absolute;
    color: #fff;
    //background: #46a4da;
    font-size: 1.7em;
    border-radius: 50%;
    box-shadow: 0 0 0 8px #EEE;
    text-align: center;
    margin-left: 60px;
    //#updownanimation();
  }

  /* Example Media Queries */
  @media screen and (max-width: 65.375em) {

    .cbp_tmtimeline > li .cbp_tmtime span:last-child {
      font-size: 1.5em;
    }
  }

  @media screen and (max-width: 47.2em) {
    .cbp_tmtimeline:before {
      display: none;
    }

    .cbp_tmtimeline > li .cbp_tmtime {
      width: 100%;
      position: relative;
      padding: 0 0 20px 0;
    }

    .cbp_tmtimeline > li .cbp_tmtime span {
      text-align: left;
    }

    .cbp_tmtimeline > li .cbp_tmlabel {
      margin: 0 0 30px 0;
      padding: 1em;
      font-weight: 400;
      font-size: 95%;
    }

    .cbp_tmtimeline > li .cbp_tmlabel:after {
      right: auto;
      left: 20px;
      border-right-color: transparent;
      border-bottom-color: #3594cb;
      top: -20px;
    }

    .cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel:after {
      border-right-color: transparent;
      border-bottom-color: #6cbfee;
    }

    .cbp_tmtimeline > li .cbp_tmicon {
      position: relative;
      float: right;
      left: auto;
      margin: -55px 5px 0 0px;
    }
  }




}
//process



//portfolio
.nav-pills
{
  #font18;
  #segeo-font;
}

.portfolio {
  padding-top: 60px;

  .portfolio-descriptions
  {
    padding-top: 20px;
  }

}

#mixItUp
{

  .portfolios-list
  {
    margin-bottom: 25px;
  }

  img
  {
    width: 100% !important;
  }
  .mix{
    display: none;
  }
}



//our team
.our-team {
  padding-top: 60px;

  //background-image: url("../img/testimonials/test_bck.jpg");
  //background-attachment: fixed;
  //background-size: cover;



  .team-list .team-item {
    padding: 0;
    text-align: left;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    border-bottom: 2px solid #e9003c; }
  .team-list .team-item img {
    margin: 0 auto;
    display: block; }
  .team-list .team-item .team-desc {
    position: absolute;
    width: 100%;
    background: rgba(233, 0, 60, 0.7);
    padding: 0.5rem 1rem;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: -webkit-transform 0.8s;
    transition: transform 0.8s; }
  .team-list .team-item .team-desc h3 {
    color: #fff;
    font-size: 1rem;
    text-transform: uppercase;
    margin: 0; }
  .team-list .team-item .team-desc p {
    color: #fff;
    font-size: 0.875rem;
    margin: 0; }
  .team-list .team-item:hover .team-desc {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, -60px, 0);
    -webkit-transition: -webkit-transform 0.8s;
    transition: transform 0.8s; }
  .team-list .team-item.current .team-desc {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, -60px, 0); }

  .team-item-holder {
    height: 37.5rem;
    margin-top: 5rem; }

  .team-content {
    width: 74%;
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0; }
  .team-content img {
    margin-bottom: 1rem;
    -webkit-transform: translate3d(0, -55px, 0);
    transform: translate3d(0, -55px, 0);
    -webkit-transition: -webkit-transform 0.8s;
    transition: transform 0.8s; }
  .team-content .team-content-text {
    opacity: 0;
    -webkit-transition: opacity 0.8s;
    transition: opacity 0.8s; }
  .team-content .team-content-text p {
    font-size: 0.875rem;
    line-height: 1.5;
    text-align: left;
    color: #636363; }
  .team-content.current {
    opacity: 1; }
  .team-content.current img {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0px, 0);
    -webkit-transition: -webkit-transform 0.8s;
    transition: transform 0.8s; }
  .team-content.current .team-content-text {
    opacity: 1;
    -webkit-transition: opacity 0.8s;
    transition: opacity 0.8s; }

  .our-team-description
  {
    #font18;
    text-align: left;
  }

  .team-image
  {
    margin-top: 2px;
    img
    {
      width: 100%;
    }
  }

  .team-lists
  {
    padding-top: 10px;
  }

  .individual-member
  {
    padding: 15px;
    -webkit-transition: background-color 1s;
    -moz-transition: background-color 1s;
    -ms-transition: background-color 1s;
    -o-transition: background-color 1s;
    transition: background-color 1s;
    &:hover
    {
      background-color: #EEEEEE;
      cursor: pointer;
    }
  }

  .individual-description
  {
    padding-top: 10px;
  }
}




//contact
.contact {
  padding-top: 60px;
  padding-bottom: 60px;
  .contact-description
  {
    p
    {
      #font18;
    }
  }

  .find-us
  {
      padding: 0;
  }

}


.modal-header, h4 {
  #ytt-bg-green;
  color:white !important;
  text-align: center;
  font-size: 30px;
}

.close
{
  position: absolute;
  top:0;
  right: 0;
  font-size: 30px;
  #ytt-bg-red !important;
  width: 50px;
  height: 50px;
  opacity: 1;
  #ytt-white;
}

.close:hover
{
  opacity: 1;
  #ytt-bg-red !important;
  #ytt-white;

}

.modal-footer {
  background-color: #f9f9f9;
}

.project-form
{
  label
  {
    #font16;
    #segeo-font;
    font-weight: 100;
    color: #8c8c8c;
  }

  select,input[type="text"],input[type="email"]
  {
    #ytt-green;
    #font18;
    height: 45px;
    border:none;
    border-bottom: 1px solid #cccccc;
    border-radius: 1px !important;
    box-shadow: none;
  }
  textarea
  {
    width: 100%;
    height: 80px;
    border:none;
    border-bottom: 1px solid #cccccc;
    border-radius: 1px !important;
    box-shadow: none;
    margin-bottom: 20px;
  }
  .send-quote
  {
    height: 40px !important;
  }
}



//footer
footer
{
  border-top: 1px solid #dddddd;
  p{
    #font18;
    text-align: center;
    font-weight: 500;
  }

  .footer-links
  {
    a
    {
      text-decoration: none;
    }
  }
}
